.basket
    .container
        <div class="catalog-box__top">
            <div class="breadcrumbs">
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item"><span> Главная</span></li>
                <li class="breadcrumbs__item"><span> Бакалея</span></li>
                <li class="breadcrumbs__item"><span> Макароны</span></li>
            </ul>
            </div>
            <div class="sort-filter">
            <div class="sort-filter__name"><span><svg><use xlink:href="img/symbols.svg#svg-cart-delete"></use></svg></span></div>
            <div class="sort-filter__text"><span>Очистить корзину</span>
            </div>
            </div>
        </div>
        include ../../blocks/basket-top/index.pug
        .basket__title
            span Корзина
        ul.basket__list
            li.basket__item
                .basket__cart
                    +svg({
                        name: 'cart-delete'
                    })
                .basket__img
                    img(src="img/product-card.png", alt="")
                .basket__name
                    span Ritter Sport с начинкой из кокосового крема и вафлей 
                .basket__price
                    span 248
                    span ₽
                .basket__counter
                    <div class="product-card__counter open"><span class="product-card__counter-minus">-</span>
                        <input type="text" value="1" tabindex="0"><span class="product-card__counter-plus">+</span>
                    </div>
            li.basket__item
                .basket__cart
                    +svg({
                        name: 'cart-delete'
                    })
                .basket__img
                    img(src="img/product-card.png", alt="")
                .basket__name
                    span Ritter Sport с начинкой из кокосового крема и вафлей 
                .basket__price
                    span 248
                    span ₽
                .basket__counter
                    <div class="product-card__counter open"><span class="product-card__counter-minus">-</span>
                        <input type="text" value="1" tabindex="0"><span class="product-card__counter-plus">+</span>
                    </div>
            li.basket__item
                .basket__cart
                    +svg({
                        name: 'cart-delete'
                    })
                .basket__img
                    img(src="img/product-card.png", alt="")
                .basket__name
                    span Ritter Sport с начинкой из кокосового крема и вафлей 
                .basket__price
                    span 248
                    span ₽
                .basket__counter
                    <div class="product-card__counter open"><span class="product-card__counter-minus">-</span>
                        <input type="text" value="1" tabindex="0"><span class="product-card__counter-plus">+</span>
                    </div>
            li.basket__item
                .basket__cart
                    +svg({
                        name: 'cart-delete'
                    })
                .basket__img
                    img(src="img/product-card.png", alt="")
                .basket__name
                    span Ritter Sport с начинкой из кокосового крема и вафлей 
                .basket__price
                    span 248
                    span ₽
                .basket__counter
                    <div class="product-card__counter open"><span class="product-card__counter-minus">-</span>
                        <input type="text" value="1" tabindex="0"><span class="product-card__counter-plus">+</span>
                    </div>
            li.basket__item
                .basket__cart
                    +svg({
                        name: 'cart-delete'
                    })
                .basket__img
                    img(src="img/product-card.png", alt="")
                .basket__name
                    span Ritter Sport с начинкой из кокосового крема и вафлей 
                .basket__price
                    span 248
                    span ₽
                .basket__counter
                    <div class="product-card__counter open"><span class="product-card__counter-minus">-</span>
                        <input type="text" value="1" tabindex="0"><span class="product-card__counter-plus">+</span>
                    </div>
            li.basket__item
                .basket__cart
                    +svg({
                        name: 'cart-delete'
                    })
                .basket__img
                    img(src="img/product-card.png", alt="")
                .basket__name
                    span Ritter Sport с начинкой из кокосового крема и вафлей 
                .basket__price
                    span 248
                    span ₽
                .basket__counter
                    <div class="product-card__counter open"><span class="product-card__counter-minus">-</span>
                        <input type="text" value="1" tabindex="0"><span class="product-card__counter-plus">+</span>
                    </div>
            li.basket__item
                .basket__cart
                    +svg({
                        name: 'cart-delete'
                    })
                .basket__img
                    img(src="img/product-card.png", alt="")
                .basket__name
                    span Ritter Sport с начинкой из кокосового крема и вафлей 
                .basket__price
                    span 248
                    span ₽
                .basket__counter
                    <div class="product-card__counter open"><span class="product-card__counter-minus">-</span>
                        <input type="text" value="1" tabindex="0"><span class="product-card__counter-plus">+</span>
                    </div>
            li.basket__item
                .basket__cart
                    +svg({
                        name: 'cart-delete'
                    })
                .basket__img
                    img(src="img/product-card.png", alt="")
                .basket__name
                    span Ritter Sport с начинкой из кокосового крема и вафлей 
                .basket__price
                    span 248
                    span ₽
                .basket__counter
                    <div class="product-card__counter open"><span class="product-card__counter-minus">-</span>
                        <input type="text" value="1" tabindex="0"><span class="product-card__counter-plus">+</span>
                    </div>