.payment-method
    .payment-method__title
        span Способ оплаты
    ul.payment-method__list
        li.payment-method__item
            span 
                +svg({
                    name: 'payment-card-1'
                })
            span Банковская карта
        li.payment-method__item
            span 
                +svg({
                    name: 'payment-card-2'
                })
            span Наличные
        li.payment-method__item
            span 
                +svg({
                    name: 'payment-card-3'
                })
            span Безналичный расчет