.section.section_navigation
    .container
        .mobile-nav
            ul.mobile-nav__list
                li.mobile-nav__item
                    .mobile-nav__link
                        +svg({
                            name: 'home'
                        })
                li.mobile-nav__item
                    .mobile-nav__link
                        +svg({
                            name: 'cart'
                        })
                li.mobile-nav__item
                    .mobile-nav__link.mobile-nav__search
                        +svg({
                            name: 'search'
                        })
                li.mobile-nav__item
                    .mobile-nav__link
                        +svg({
                            name: 'user'
                        })
                li.mobile-nav__item
                    .mobile-nav__link
                        +svg({
                            name: 'burger'
                        })