- 
    var list = {
        items: [
            {
                name: 'Категории',
                href: '#'
            },
            {
                name: 'Акции',
                href: '#'
            },
            {
                name: 'О компании',
                href: '#'
            },
            {
                name: 'Доставка',
                href: '#'
            },
            {
                name: 'Оплата',
                href: '#'
            },
            {
                name: 'Прайс-лист',
                href: '#'
            },
            {
                name: 'Контакты',
                href: '#'
            },
        ]
    }

.header-nav
    .container
        ul.header-nav__list
            each item in list.items
                li.header-nav__item
                    a.header-nav__link(href=item.href)=item.name
                    <svg width="41" height="21" viewBox="0 0 41 21" fill="none" xmlns="http://www.w3.org/2000/svg" class="cat-mini__decor">
                        <path d="M0.402344 21V21C2.02406 21 3.56314 20.2135 4.50053 18.8901L15.9262 2.76008C17.9189 -0.0531069 22.0937 -0.0530879 24.0864 2.76011L35.5118 18.8901C36.4492 20.2135 37.9702 21 39.5919 21H40.0063H0.402344Z"/>
                    </svg>
                    .nav-mobile__box
                        ul.nav-mobile__list
                            li.main-nav__item
                                a.main-nav__link(href="javascript:void(0);") Кондитерские изделия
                            li.main-nav__item
                                a.main-nav__link(href="javascript:void(0);") Молочная продукция
                            li.main-nav__item
                                a.main-nav__link(href="javascript:void(0);") Сыр
                            li.main-nav__item
                                a.main-nav__link(href="javascript:void(0);") Напитки
                            li.main-nav__item
                                a.main-nav__link(href="javascript:void(0);") Чай
                            li.main-nav__item
                                a.main-nav__link(href="javascript:void(0);") Кофе
                            li.main-nav__item
                                a.main-nav__link(href="javascript:void(0);") Другое