.special-card
    .special-card__img
        img(src="img/special.png", alt="")
    .special-card__text
        p С 1 по 30 ноября покупайте чай Tess и получите каждую третью пачку бесплатно
    .special-card__box
        a.special-card__link  Подробнее 
            span 
                +svg({
                    name: 'arrow'
                })
        .special-card__date 19.10.2020