include components/global.pug
include components/svg/index.pug
include components/head/index.pug

- 
    pageSettings = {
        title: 'Главная',
        contacts: false
    }


<!DOCTYPE html>
html(lang=global.lang)
    head
        +head(pageSettings)
    body.page.page-catalog.page-catalog_mobile
        include components/header/index.pug
        .page-catalog__search
            span 
                +svg({
                    name: 'breadcrumb-arrow'
                })
            .header__search
                .header__search-input
                    input(type="text")
                .header__search-btn
                    +svg({
                        name: 'search'
                    })
                .search-bar
                    .search-bar__list
                        .search-bar__img
                            img(src="img/product-card.png", alt="")
                        .search-bar__text
                            span Ritter Sport с начинкой из кокосового крема и вафлей 
                        .search-bar__cart
                            +svg({
                                name: 'cart'
                            })
                    .search-bar__list
                        .search-bar__img
                            img(src="img/product-card.png", alt="")
                        .search-bar__text
                            span Ritter Sport с начинкой из кокосового крема и вафлей 
                        .search-bar__cart
                            +svg({
                                name: 'cart'
                            })
                    .search-bar__list
                        .search-bar__img
                            img(src="img/product-card.png", alt="")
                        .search-bar__text
                            span Ritter Sport с начинкой из кокосового крема и вафлей 
                        .search-bar__cart
                            +svg({
                                name: 'cart'
                            })
                    .search-bar__btn
                        a.special-card__link  Перейти к результатам
                                span 
                                    +svg({
                                        name: 'arrow'
                                    })
        main.main
            .catalog
                .container
                    include components/sections/mobile-nav/index.pug
                    include components/blocks/catalog-nav/index.pug
                    include components/sections/catalog/index.pug
        include components/footer/index.pug

