include components/global.pug
include components/svg/index.pug
include components/head/index.pug

- 
    pageSettings = {
        title: 'Главная',
        contacts: false
    }


<!DOCTYPE html>
html(lang=global.lang)
    head
        +head(pageSettings)
    body.page
        include components/header/index.pug
        main.main
            .catalog
                .container
                    include components/blocks/catalog-nav/index.pug
                    include components/sections/catalog/index.pug
        include components/footer/index.pug

