include components/global.pug
include components/svg/index.pug
include components/head/index.pug

- 
    pageSettings = {
        title: 'Главная',
        contacts: false
    }


<!DOCTYPE html>
html(lang=global.lang)
    head
        +head(pageSettings)
    body.page.page_detail
        include components/header/index.pug
        main.main
            include components/sections/mobile-nav/index.pug
            include components/sections/detail/index.pug
            include components/sections/recommend/index.pug
        include components/footer/index.pug

