.section.section_about
    .container
        .about
            .about__left 
                .about__title 
                    p О НАС
                .about__text
                    p Компания специализируется на рынке оптово-розничной торговли продуктов питания: бакалеи, напитков, молочной продукции и тд.

                    p Главной целью нашей компании за все время работы в сфере услуг всегда оставалось удовлетворение потребностей наших клиентов по ценам, оптимальным для ведения их бизнеса.

                    p Это интернет-витрина и информационный каталог позволяющий ознакомиться с ценами и наличием товаров, сделать предварительный заказ. Сведения, размещенные на сайте,  не являются рекламой, носят исключительно информационный характер, и предназначены только для личного использования.
            .about__right
                .about__img
                    img(src="img/about.png", alt="")