footer.footer
    .container
        .footer__box
            .footer__top
                .footer__tel
                    +svg({
                        name: 'tel'
                    })
                    span +7 (495)-876-98-34
                .footer__email
                    +svg({
                        name: 'email'
                    })
                    span  tushpa@info.ru
                .footer__whatsapp
                    +svg({
                        name: 'whatsapp'
                    })
            .footer__bottom
                .footer__nav
                    ul.footer__list
                        li.footer__item
                            span.footer__link-name  О нас
                        li.footer__item
                            a.footer__link Каталог
                        li.footer__item
                            a.footer__link Акции
                        li.footer__item
                            a.footer__link Для корпоративных клиентов
                        li.footer__item
                            a.footer__link Производство
                    ul.footer__list
                        li.footer__item
                            span.footer__link-name  Помощь
                        li.footer__item
                            a.footer__link Доставка и оплата
                        li.footer__item
                            a.footer__link Возврат и обмен
                        li.footer__item
                            a.footer__link Публичная оферта
                        li.footer__item
                            a.footer__link Политика конфиденциальности
                    ul.footer__list
                        li.footer__item
                            span.footer__link-name  КОНТАКТЫ
                        li.footer__item
                            a.footer__link Самвывоз
                        li.footer__item
                            a.footer__link Обратная связь
                        li.footer__item
                            a.footer__link Предзаказ
                .footer__feedback
                    .footer__logo
                        img(src="img/logo-footer.png", alt="")
                    .footer__text 
                        p Выможете заказать обратный звонок и наш менеджер свяжется с вами в рабочее время
                    .footer__form
                        .footer__input
                            input(type="text")
                        .footer__btn
                            span Заказать
script(src="js/libs.js")
script(src="js/script.js")