.detail
    .container
        include ../../blocks/breadcrumbs/index.pug
        .detail-box
            .detail__left
                .detail__img
                    img(src="img/detail.png", alt="")
            .detail__right
                .detail__product
                    .detail__title
                        span Ritter Sport с начинкой из кокосового крема и вафлей 
                    .detail__art Артикул 347679
                    .detail__quantity за 1 шт.
                    .detail__price 124 ₽
                    .detail__btn
                        .detail__fav
                            +svg({
                                name: 'fav'
                            })
                        .detail__cart
                            +svg({
                                name: 'cart'
                            })
                .detail__product
                    .detail__text 
                        p Divella букатини 500гр 1/12 N6E - купить оптом с доставкой по Москве и Московской области. Продукты питания по оптовым ценам в интернет-магазине Фудстарсити с доставкой по всей России.
                    .detail__section
                        p Раздел:
                            span Кондитерские изделия
                        p Бренд:
                            span Ritter Sport
                        p Тип товара:
                            span  Шоколад