.favourites
    .container
        .catalog-box__top
            include ../../blocks/breadcrumbs/index.pug
            include ../../blocks/sort/index.pug
        ul.favourites__list
            li.favourites__item
                include ../..//blocks/product-card/index.pug
            li.favourites__item
                include ../..//blocks/product-card/index.pug
            li.favourites__item
                include ../..//blocks/product-card/index.pug
            li.favourites__item
                include ../..//blocks/product-card/index.pug
            li.favourites__item
                include ../..//blocks/product-card/index.pug
            li.favourites__item
                include ../..//blocks/product-card/index.pug
            li.favourites__item
                include ../..//blocks/product-card/index.pug
            li.favourites__item
                include ../..//blocks/product-card/index.pug
            li.favourites__item
                include ../..//blocks/product-card/index.pug
            li.favourites__item
                include ../..//blocks/product-card/index.pug
            li.favourites__item
                include ../..//blocks/product-card/index.pug
            li.favourites__item
                include ../..//blocks/product-card/index.pug
        .catalog__pagination
            .catalog__pagination-box
                +svg({
                    name: 'arrow'
                })
                span.pag-active 1
                span 2
                span 3
                span 4
                +svg({
                    name: 'arrow'
                })
