.mobile-filter
    span.mobile-filter__back
        +svg({
            name: 'breadcrumb-arrow'
        })
    span
        +svg({
            name: 'filter'
        })
    span Фильтр
.mobile-filter__bottom
    span по популярности
    span по убыванию цены
    span по возрастанию цены