a(href="#").product-card
    .product-card__fav
        +svg({
            name: 'fav'
        })
    .product-card__img
        img(src="img/product-card-2.png", alt="")
    .product-card__text
        p Ritter Sport с начинкой из кокосового крема и вафлей 
    .product-card__box
        .product-card__price
            .product-card__price_sale
                span 100
                span ₽
            .product-card__price_new
                span 60
                span ₽
        .product-card__cart
            .product-card__basket
                span.product-card__basket_ico
                    +svg({
                        name: 'cart'
                    })
                .product-card__counter
                    span.product-card__counter-minus -
                    input(type="text" value="1")
                    span.product-card__counter-plus +