.basket-top
    .basket__conditions
        .basket__minimal
            <label>
                <span class="catalog-nav__checkbox checkbox_active">
                    <svg>
                        <use xlink:href="img/symbols.svg#svg-checkbox-active"></use>
                    </svg>
                </span>
                <input type="checkbox"><a class="catalog-nav__filter">Минимальная сумма заказа – 30 000 Р</a>
            </label>
        .basket__transfer
            <label>
                <span class="catalog-nav__checkbox">
                    <svg>
                        <use xlink:href="img/symbols.svg#svg-checkbox-active"></use>
                    </svg>
                </span>
                <input type="checkbox"><a class="catalog-nav__filter">Бесплатная доставка – от 50 000 Р</a>
            </label>
    .basket__promo
        .basket__subtitle
            span Промокод
        .basket__input
            input(type="text" placeholder="")
    .basket__result
        .basket__sum
            span Итого:
            span 31 458 Р
        .basket__btn
            span Оформить заказ