.intro
    .container
        .intro__box
            .intro__left
                include ../../blocks/main-nav/index.pug
            .intro__right
                .intro__slider(data-slider="items" data-count="1")
                    ul.intro__list(data-sliders)
                        li.intro__item
                            .intro__img
                                img(src="img/intro.jpg", alt="")
                            .intro__text
                                span Низкие цены для вашего бизнеса
                        li.intro__item
                            .intro__img
                                img(src="img/intro.jpg", alt="")
                            .intro__text
                                span Низкие цены для вашего бизнеса
                        li.intro__item
                            .intro__img
                                img(src="img/intro.jpg", alt="")
                            .intro__text
                                span Низкие цены для вашего бизнеса
                        li.intro__item
                            .intro__img
                                img(src="img/intro.jpg", alt="")
                            .intro__text
                                span Низкие цены для вашего бизнеса
            .intro__right.intro__right_mobile
                .intro__slider(data-slider="items" data-count="1")
                    ul.intro__list(data-sliders)
                        li.intro__item
                            .intro__img
                                img(src="img/intro-mobile.jpg", alt="")
                            .intro__text
                                span Низкие цены для вашего бизнеса
                        li.intro__item
                            .intro__img
                                img(src="img/intro-mobile.jpg", alt="")
                            .intro__text
                                span Низкие цены для вашего бизнеса
                        li.intro__item
                            .intro__img
                                img(src="img/intro-mobile.jpg", alt="")
                            .intro__text
                                span Низкие цены для вашего бизнеса
                        li.intro__item
                            .intro__img
                                img(src="img/intro-mobile.jpg", alt="")
                            .intro__text
                                span Низкие цены для вашего бизнеса