.section
    .container
        .special
            .special__title
                p  Рекомендации
                span Смотреть все 
                    span
                        +svg({
                            name: 'arrow'                       
                        })
            .special__slider(data-slider="items" data-count="3")
                ul.special__list(data-sliders)
                    li.special__item
                        include ../../blocks/special-card/index.pug
                    li.special__item
                        include ../../blocks/special-card/index.pug
                    li.special__item
                        include ../../blocks/special-card/index.pug
                    li.special__item
                        include ../../blocks/special-card/index.pug
                    li.special__item
                        include ../../blocks/special-card/index.pug
                    li.special__item
                        include ../../blocks/special-card/index.pug
                    li.special__item
                        include ../../blocks/special-card/index.pug
                    li.special__item
                        include ../../blocks/special-card/index.pug
                    li.special__item
                        include ../../blocks/special-card/index.pug
                    li.special__item
                        include ../../blocks/special-card/index.pug
                    li.special__item
                        include ../../blocks/special-card/index.pug
                    li.special__item
                        include ../../blocks/special-card/index.pug