.main-nav
    .main-nav__title
        span Категории
    ul.main-nav__list
        li.main-nav__item
            a.main-nav__link(href="javascript:void(0);") Бакалея
            ul.main-nav__sublist
                li.main-nav__subitem
                    a.main-nav__sublink(href="javascript:void(0);")
                        span  Бакалея
                li.main-nav__subitem
                    a.main-nav__sublink(href="javascript:void(0);") Макороны
                li.main-nav__subitem
                    a.main-nav__sublink(href="javascript:void(0);") Крупы
                li.main-nav__subitem
                    a.main-nav__sublink(href="javascript:void(0);") Мука
                li.main-nav__subitem
                    a.main-nav__sublink(href="javascript:void(0);") Сахар и соль
                li.main-nav__subitem
                    a.main-nav__sublink(href="javascript:void(0);") Готвоые завраки
                li.main-nav__subitem
                    a.main-nav__sublink(href="javascript:void(0);") Продукты быстрого приготовления
                li.main-nav__subitem
                    a.main-nav__sublink(href="javascript:void(0);") Перейти в категорию
                        span 
                            +svg({
                                name: 'arrow'
                            })
        li.main-nav__item
            a.main-nav__link(href="javascript:void(0);") Консервы
        li.main-nav__item
            a.main-nav__link(href="javascript:void(0);") Кондитерские изделия
        li.main-nav__item
            a.main-nav__link(href="javascript:void(0);") Молочная продукция
        li.main-nav__item
            a.main-nav__link(href="javascript:void(0);") Сыр
        li.main-nav__item
            a.main-nav__link(href="javascript:void(0);") Напитки
        li.main-nav__item
            a.main-nav__link(href="javascript:void(0);") Чай
        li.main-nav__item
            a.main-nav__link(href="javascript:void(0);") Кофе
        li.main-nav__item
            a.main-nav__link(href="javascript:void(0);") Другое