.breadcrumbs{

    &__list{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &__item{
        & span{
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 19px;
            color: #C4C4C4;
            position: relative;
            margin-right: 25px;
            transition: all 0.34s ease-in;
            cursor: pointer;
            &:before{
                content: '';
                position: absolute;
                top: 50%;
                right: -15px;
                width: 5px;
                height: 5px;
                transform: translateY(-50%);
                border-radius: 50%;
                background-color: #C4C4C4;
            }
        }
        &:hover{
            & span{
                color: black;
            }
        }
        &:last-child span:before{
            display: none;
        }
    }

}
.breadcrumb__mobile{
    display: none;
}
@media (max-width: 768px) {
    .breadcrumbs{
        display: none;
    }
    .main {
        & .breadcrumbs{
            display: none;
        }
        & .breadcrumb__mobile{
            display: none;
        }
    }
    .breadcrumb__mobile{
        display: block;
    }
    .breadcrumbs__item{
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #E65C45;
        height: 50px;
        position: relative;
        & span{
            margin-right: 0px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            /* identical to box height */
            color: #FFFFFF;
 
        }
        & span:first-child {
            position: absolute;
            left: 10px;    
        }
        & svg{
            width: 8px;
            height: 12px;
        }
    }
}