.catalog-box
    .catalog-box__top
        include ../../blocks/breadcrumbs/index.pug
        include ../../blocks/mobile-filter/index.pug
        include ../../blocks/sort/index.pug
    ul.catalog__list
        li.catalog__item
            include ../../blocks/product-card/index.pug
        li.catalog__item
            include ../../blocks/product-card/index.pug
        li.catalog__item
            include ../../blocks/product-card/index.pug
        li.catalog__item
            include ../../blocks/product-card/index.pug
        li.catalog__item
            include ../../blocks/product-card/index.pug
        li.catalog__item
            include ../../blocks/product-card/index.pug
    .catalog__pagination
        .catalog__pagination-box
            +svg({
                name: 'arrow'
            })
            span.pag-active 1
            span 2
            span 3
            span 4
            +svg({
                name: 'arrow'
            })
.catalog-mobile
    .category
        ul.category__list
            li.category__item
                a(href="catalog-mobile.html").category-card
                    .category-card__img
                        img(src="img/categ.png", alt="")
                    .category-card__text
                        span Еда
            li.category__item
                a(href="catalog-mobile.html").category-card
                    .category-card__img
                        img(src="img/categ.png", alt="")
                    .category-card__text
                        span Консервы
            li.category__item
                a(href="catalog-mobile.html").category-card
                    .category-card__img
                        img(src="img/categ.png", alt="")
                    .category-card__text
                        span Кондитерские изделия
            li.category__item
                a(href="catalog-mobile.html").category-card
                    .category-card__img
                        img(src="img/categ.png", alt="")
                    .category-card__text
                        span Молочная продукция
            li.category__item
                a(href="catalog-mobile.html").category-card
                    .category-card__img
                        img(src="img/categ.png", alt="")
                    .category-card__text
                        span Еда
            li.category__item
                a(href="catalog-mobile.html").category-card
                    .category-card__img
                        img(src="img/categ.png", alt="")
                    .category-card__text
                        span Еда
            li.category__item
                a(href="catalog-mobile.html").category-card
                    .category-card__img
                        img(src="img/categ.png", alt="")
                    .category-card__text
                        span Еда
            li.category__item
                a(href="catalog-mobile.html").category-card
                    .category-card__img
                        img(src="img/categ.png", alt="")
                    .category-card__text
                        span Еда
            li.category__item
                a(href="catalog-mobile.html").category-card
                    .category-card__img
                        img(src="img/categ.png", alt="")
                    .category-card__text
                        span Еда