header.header
    .container
        .header__top
            .header__city 
                span Москва
            .header__tel
                a(href="tel:+74958769834") +7 (495)-876-98-34
            .header__login
                +svg({
                    name: 'user'
                })
        .header__main
            .header__logo
                img(src="img/logo.png", alt="")
            .header__search
                .header__search-input
                    input(type="text")
                .header__search-btn
                    +svg({
                        name: 'search'
                    })
            .header__fav
                +svg({
                    name: 'fav'
                })
            .header__cart
                +svg({
                    name: 'cart'
                })
        .header-mobail
            .header__login
                img(src="img/logo-mobile.png", alt="")
include ../blocks/header-nav/index.pug

