.header{
    background: #EA6D56;
    &__top{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-self: center;
    }
    &__logo{
        cursor: pointer;
        transition: all 0.34s ease-in;
        
        &:hover{
            transform: scale(1.1);
        }
    }
    &__quantity{
        padding: 4px;
        background: #E65C45;
        border-radius: 50px;
        color: white;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */
        color: #FFFFFF;
        position: absolute;
        top: -16px;
        right: -25px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 25px;
        min-height: 25px;
    }
    &__city{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        border-right: 1px solid white;
        padding-right: 13px;
        margin-right: 14px;
        padding-top: 8px;
        padding-bottom: 8px;
        position: relative;
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
    &__tel{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        color: #FFFFFF;
        border-right: 1px solid white;
        padding-right: 13px;
        padding-top: 8px;
        padding-bottom: 8px;
        & a{
            text-decoration: none;
            color: #FFFFFF;
        }
        cursor: pointer;
        &:hover{
            text-decoration: underline;
        }
    }
    &__login{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 29px;
        cursor: pointer;
        & a{
            cursor: pointer;
        }
        & svg{
            width: 20px;
            height: 20px;
            fill: white;
            transition: all 0.34s ease-in;
        }
        &:hover svg{
            fill: black;
        }
    }
    &__main{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 19px;
        padding-bottom: 46px;
    }
    &__search{
        max-width: 645px;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative; 
    }
    &__search{
        margin-right: 40px;
    }
    &__search-input{
        max-width: 542px;
        width: 100%;
        background-color: #FFFFFF;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            & input{
                border: 1px solid black;
            }
        }
        & input{
            border: 1px solid transparent;
            padding-left: 20px;
            transition: all 0.34s ease-in;
            height: 100%;
            width: 100%;
            border-radius: 5px;
            &:focus{
                border: 1px solid black;
            }
        }
    }
    &__search-btn{
        width: 100px;
        height: 40px;
        background-color:  #E65C45;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2px;
        cursor: pointer;
        box-shadow: 3px 3px 5px rgba(209, 84, 64, 0.5);
        & svg{
            width: 28px;
            height: 25px;
            fill: #EA6D56;
            transition: all 0.34s ease-in;
        }
        &:hover svg{
            fill: white;
        }
        &:hover{
            box-shadow: 3px 3px 5px rgba(209, 84, 64, 0.5);
        }
    }
    &__cart{
        height: 30px;
        cursor: pointer;
        position: relative;
        & svg{
            width: 30px;
            height: 30px;
            transition:  all 0.34s ease;
            fill: white;
        }
        &:hover{
            span svg{
                fill: black;
            }
            .cart-mini{
                display: block;
            }
        }
    }
    &__fav{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-left: 13px;
        transition:  all 0.34s ease;
        cursor: pointer;
        position: relative;
        & svg{
            width: 34px;
            height: 30px;
            fill: #FFFFFF;
            transition:  all 0.34s ease;
        }
        &:hover{
            svg{
                fill: black;
            }
        }
    }
}
.header-mobail{
    display: none;
}
.header__cart:hover .special-card__link svg{
    fill: #EA6D56 ;
}
.cart-mini{
    display: none;
    position: absolute;
    top: 48px;
    z-index: 2;
    right: -53px;
    z-index: 2;
    &__decor{
        position: absolute;
        top: -22px;
        right: 50px;
    }
    &__item:last-child{
        position: absolute;
        bottom: 15px;
        right: 20px;
        &:hover{
            & svg{
                fill: #198772;
            }
        }
    }
    &__list{
        background-color: #FFFFFF;
        max-width: 272px;
        width: 100%;
        padding: 10px;
        padding-right: 20px;
        padding-bottom: 43px;
        border-radius: 5px;
    }
    &__item{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
    }
    &__name{
        width: 80px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-right: 6px;
    }
    &__img{
        width: 46px;
        height: 46px;
        margin-right: 10px;
        & img{
            object-fit: cover;
            width: 100%;
        }
    }
    &__price{
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        color: #4F4F4F;
        display: flex;
        flex-direction: flex-start;
        align-items: center;
        margin-left: 10px;
    }
    &__delete{
        margin-right: 10px;
        & svg{
            width: 12px;
            height: 14px;
            fill: #F2F2F2;
        }
    }
    &__current{
        .product-card__counter{
            display: flex;
            width: 43px;
            height: 18px;
            position: unset;
            & input{
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
            }
            &-minus{
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                width: 30%;
            }
            &-plus{
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                width: 30%;
            }
           
        }
        
    }
}
.cart-mini__delete:hover{
    & svg{
        fill: #000000;
    }
}
.header__search{
    position: relative;
}
.search-bar{
    display: none;
    position: absolute;
    top: 40px;
    left: 0;
    max-width: 599px;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding-bottom: 37px;
    z-index: 4;
    &__img{
        max-width: 39px;
        max-height: 39px;
        border-radius: 5px;
        & img{
            width: 100%;
            border-radius: 5px;
        }
    }
    &__text{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        color: #4F4F4F;
        margin-left: 20px;
        max-width: 500px;
        overflow: hidden;
    }
    &__list{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid #F2F2F2;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 5px;
        margin-bottom: 5px;
        cursor: pointer;
    }
    &__cart{
        width: 30px;
        height: 30px;
        background-color: #198772;
        box-shadow: 2px 2px 5px rgba(17, 82, 70, 0.07);
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 20px;
        cursor: pointer;
        & svg{
            width: 14px;
            height: 15px;
            fill: white;
        }
    }
    &__btn{
        position: absolute;
        right: 20px;
        bottom: 12px;
    }
}
.search-bar__cart{
    transition: all 0.34s ease;
}
.search-bar__cart:hover{
    background: #46AA97;
}
.breadcrumbs__item.header_fixed{
    position: fixed;
    top: 50px;
    z-index: 3;
}
@media(max-width: 1024px) {
    .header-mobail{
        display: block;
        padding-top: 11px;
        padding-bottom: 11px;
    }
    .header__top{
        display: none;
    }
    .header__main{
        display: none;
    }
    .header-nav{
        display: none;
    }
    .header__login{
        margin-left: 0px;
    }
    
}
.navigation-mobile{
    position: fixed;
    top: 50px;
    bottom: 50px;
    left: 0;
    z-index: 3;
    background: white;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 10px;
    display: none;
    &.navigation-mobile_active{
        display: block;
    }
    &__list{
        padding-left: 10px;
        padding-right: 10px;
    }
    &__item{
        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(17, 82, 70, 0.05);
        border-radius: 5px;
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
    }
    &__link{
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 15px;
        /* identical to box height */
        display: flex;
        align-items: center;
        color: #4F4F4F;
        display: block;
        text-decoration: none;
    }
    &__box{
        background: #198772;
        box-shadow: 0px 0px 10px rgba(17, 82, 70, 0.05);
        border-radius: 5px;
        margin: 10px;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    &__phone{
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        color: #FFFFFF;
        margin-bottom: 10px;
        & svg{
            width: 10px;
            height: 10px;
            margin-right: 9px;
        }
    }
    &__email{
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        color: #FFFFFF;
        margin-bottom: 10px;
        & svg{
            width: 11px;
            height: 9px;
            margin-right: 9px;
        }
    }
    &__city{
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        /* identical to box height */
        display: flex;
        align-items: center;
        color: #FFFFFF;
        text-decoration: underline;
    }
    &__whatsapp{
        width: 20px;
        height: 20px;
        margin-bottom: 30px;
        & svg{
            width: 20px;
            height: 20px;
            fill: white;
        }
    }
    &__right{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
    }
    &__back{

    }
}
@media (max-width: 420px) {
    .nav-mobile__link{
        font-size: 12px;
    }
}