.section
    .container
        .category
            .category__title
                p  Категории 
                span Перейти в каталог 
                    span
                        +svg({
                            name: 'arrow'                       
                        })
            ul.category__list
                li.category__item
                    .category-card
                        .category-card__img
                            img(src="img/categ.png", alt="")
                        .category-card__text
                            span Еда
                li.category__item
                    .category-card
                        .category-card__img
                            img(src="img/categ.png", alt="")
                        .category-card__text
                            span Еда
                li.category__item
                    .category-card
                        .category-card__img
                            img(src="img/categ.png", alt="")
                        .category-card__text
                            span Еда
                li.category__item
                    .category-card
                        .category-card__img
                            img(src="img/categ.png", alt="")
                        .category-card__text
                            span Еда
                li.category__item
                    .category-card
                        .category-card__img
                            img(src="img/categ.png", alt="")
                        .category-card__text
                            span Еда
                li.category__item
                    .category-card
                        .category-card__img
                            img(src="img/categ.png", alt="")
                        .category-card__text
                            span Еда
                li.category__item
                    .category-card
                        .category-card__img
                            img(src="img/categ.png", alt="")
                        .category-card__text
                            span Еда
                li.category__item
                    .category-card
                        .category-card__img
                            img(src="img/categ.png", alt="")
                        .category-card__text
                            span Еда
                li.category__item
                    .category-card
                        .category-card__img
                            img(src="img/categ.png", alt="")
                        .category-card__text
                            span Еда